// colors

$androidgreen: #add136;
$applegreen: #99c50a;
$yellowgreen: #9ec02d;

$taupegray: #949494;
$taupegray-18: #666666;
$taupegray-2: #8f8f8f;

$dimgray: #606060;
$dimgray-2: #656565;

$battleshipgrey: #848484;
$outerspace: #494949;
$davygrey: #5f5f5f;

$liver: #515151;
$stongblue: #26a6d1;

$gray-inactive:#e6e6e6;

