<section class="features">
    <div class="container">
        <div class="row">
            <div class="d-flex features__wrap">
                <div class="col-12 col-lg-9">
                    <h2 class="features__heading">Featured Projects</h2>
                    <div class="features__text">Brief details of new and popular projects. To view full listings, you
                        will be required to
                        sign up and become a member.
                    </div>
                </div>
                <div class="col-12 col-lg-3 d-flex align-items-center justify-content-end">
                    <a class="features__button" href="#">Become a Member</a>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-4">
                <div class="project-wrap">
                    <div class="project-heading" style="background-image: url(img/project/project1.png);">
                        <div class="project-heading__price">From <b>GBP 3600</b></div>
                        <div class="project-heading__status">
                            <div class="project-heading__status-new">new</div>
                        </div>
                    </div>
                    <div class="project-description">
                        <h2 class="project-description__title">Ontario Tower , LONDON</h2>
                        <div class="project-description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </div>
                        <div class="progressbar">
                            <div class="progressbar__value" style="width: 10%;"></div>
                        </div>
                        <div class="d-flex justify-content-between m__top-20 m__bottom-20">
                            <div class="project-description__prop">10% Funded</div>
                            <div class="project-description__prop">8 Days Left</div>
                        </div>
                        <hr class="m__bottom-30" align="center" width="100%" size="1" color="#d6d6d6"/>
                        <div class="d-flex align-items-center justify-content-end">
                            <a class="project-description__details" href="#">See Project Details<img
                                        class="p__left-15" src="img/icons/icon4.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4">
                <div class="project-wrap">
                    <div class="project-heading" style="background-image: url(img/project/project2.png);">
                        <div class="project-heading__price">From  <b>GBP 3600</b></div>
                        <div class="project-heading__status">
                            <div class="project-heading__status-new">new</div>
                        </div>
                    </div>
                    <div class="project-description">
                        <h2 class="project-description__title">Ontario Tower , LONDON</h2>
                        <div class="project-description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </div>
                        <div class="progressbar">
                            <div class="progressbar__value" style="width: 60%;"></div>
                        </div>
                        <div class="d-flex justify-content-between m__top-20 m__bottom-20">
                            <div class="project-description__prop">60% Funded</div>
                            <div class="project-description__prop">8 Days Left</div>
                        </div>
                        <hr class="m__bottom-30" align="center" width="100%" size="1" color="#d6d6d6"/>
                        <div class="d-flex align-items-center justify-content-end">
                            <a class="project-description__details" href="#">See Project Details<img
                                        class="p__left-15" src="img/icons/icon4.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4">
                <div class="project-wrap">
                    <div class="project-heading" style="background-image: url(img/project/project3.png);">
                        <div class="project-heading__price">From  <b>GBP 3600</b></div>
                        <div class="project-heading__status">
                            <div class="project-heading__status-new">new</div>
                        </div>
                    </div>
                    <div class="project-description">
                        <h2 class="project-description__title">Ontario Tower , LONDON</h2>
                        <div class="project-description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </div>
                        <div class="progressbar">
                            <div class="progressbar__value" style="width: 10%;"></div>
                        </div>
                        <div class="d-flex justify-content-between m__top-20 m__bottom-20">
                            <div class="project-description__prop">10% Funded</div>
                            <div class="project-description__prop">8 Days Left</div>
                        </div>
                        <hr class="m__bottom-30" align="center" width="100%" size="1" color="#d6d6d6"/>
                        <div class="d-flex align-items-center justify-content-end">
                            <a class="project-description__details" href="#">See Project Details<img
                                        class="p__left-15" src="img/icons/icon4.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>