<footer>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center footer__partners">
            <a href="#"><img src="img/logo/yahoo-finance-logo.png" alt=""></a>
            <a href="#"><img src="img/logo/techinasia.png" alt=""></a>
            <a href="#"><img src="img/logo/crowdsourcing-org-logo.png" alt=""></a>
            <a href="#"><img src="img/logo/crowdsourcing-week-logo.png" alt=""></a>
            <a href="#"><img src="img/logo/startupshk.jpg" alt=""></a>
            <a href="#"><img src="img/logo/imoney.jpg" alt=""></a>
            <a href="#"><img src="img/logo/rthk.png" alt=""></a>
        </div>
    </div>
    <div class="footer d-flex justify-content-center align-items-center">
        <span class="footer__text">Copyright © 2001 - 2014  Cssauthor.com</span>
    </div>
</footer>