<section class="how-works">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7 d-flex flex-wrap justify-content-center">
                <div class="d-flex justify-content-center w-100">
                    <img src="{{ index.how_works.icon }}" alt="icon">
                </div>
                <div class="how-works__heading">
                    {{ index.how_works.heading | safe }}
                </div>
            </div>
            <div class="col-10">
                <div class="how-works__text">
                    <p> {{ index.how_works.p1 }} </p>
                    <p> {{ index.how_works.p2 }} </p>
                </div>
            </div>
        </div>
    </div>
</section>