<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="tabs" class="tabs">

                    <input type="radio" name="inset" value="" id="tab_1" checked>
                    <label for="tab_1" class="active-tab">
                        <div class="circle active-tab">1</div>
                        <span class="tab-text">Simple</span>
                    </label>

                    <input type="radio" name="inset" value="" id="tab_2">
                    <label for="tab_2">
                        <div class="circle">2</div>
                        <span class="tab-text">Transparent</span>
                    </label>

                    <input type="radio" name="inset" value="" id="tab_3">
                    <label for="tab_3">
                        <div class="circle">3</div>
                        <span class="tab-text">Collaborative</span>
                    </label>

                    <div id="txt_1">
                        <div class="row">
                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                <img class="img-responsive" src="img/icons/glasses.png" alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h2 class="tab-content__title">Browse projects, like booking a hotel online !</h2>
                                <div class="tab-content__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="txt_2">
                        <div class="row">
                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                <img class="img-responsive" src="img/icons/glasses.png" alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h2 class="tab-content__title">Transparent</h2>
                                <div class="tab-content__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="txt_3">
                        <div class="row">
                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                <img class="img-responsive" src="img/icons/glasses.png" alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h2 class="tab-content__title">Collaborative</h2>
                                <div class="tab-content__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>